{% block carousel %}

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="background-color: rgba(169,169,169,0.36)">
            <div class="carousel-inner">
                {% for image in images %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" data-bs-interval="3000">
                    <img src="{{ image }}" class="d-block w-100" style="height: 300px; object-fit: contain" alt="...">
                </div>
                {% endfor %}
            </div>
            {% for image in images %}
            {% if loop.length > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
            {% else %}
            {% endif %}
        {% endfor %}
        </div>

{% endblock %}