{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

    <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}<br></div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-6">
                <h3 style="margin-bottom: 20px">{{ post.title }}</h3>
                {% include 'show_advertisements/carousel_image.html' %}
{#                <img style="height: 285px; object-fit: contain" class="rounded mx-auto d-block"#}
{#                     src="{{ post.image_url }}"/>#}
                <p></p>
                <h4 style="margin-top: 20px">Описание</h4>
                <p>{{ post.description }}</p>
                <div class="card-footer border-top">
                    <small class="text-body-secondary">
                        Объявление №{{ post.ad_id }} от {{ post.ad_datetime.strftime('%d-%m-%Y %H:%M') }}
                    </small>
                </div>
            </div>

            <div class="col-4">
                <h3>Цена: {{ "{:,}".format(post.price) }} ₽</h3>
                <br>
                <h6>Адрес</h6>
                <p>{{ post.address }}</p>
                <br>
                <p><a class="btn btn-secondary me-2"
                      href="{{ url_for('user_advertisement.update_ad_user', ad_id=post.ad_id) }}"
                      role="button">Редактирование объявления</a></p>

                <p><a class="btn btn-danger me-2"
                      href="{{ url_for('user_advertisement.delete_ad_user', ad_id=post.ad_id) }}"
                      role="button">Удаление объявления</a></p>
            </div>
        </div>
    </div>

{% endblock %}