{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}

    <div class="container">
    <h3>{{ page_title }}</h3>
    <div class="row">
        <div class="col-3">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}<br></div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('user.process_login') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group" style="margin-bottom: 1em">
                    {{ form.username.label }}
                    {{ form.username() }}
                </div>
                <div class="form-group" style="margin-bottom: 1em">
                    {{ form.password.label }}
                    {{ form.password() }}
                </div>
                <div class="form-group form-check" style="margin-bottom: 1em">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label(class_='form-check-label') }}
                </div>
                {{ form.submit() }}
            </form>
        </div>
    </div>
    </div>

{% endblock %}

