{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <h3>Добро пожаловать на сайт "<s>Недо</s>Авито"!</h3>
            <p>
                Наш учебный проект в рамках курса LearnPython - это сайт, который является <s>недо</s>аналогом
                популярного ресурса Авито.
                Он был разработан на языке программирования Python с использованием таких технологий,
                как Flask, Flask Login, Flask WTForms, SQLAlchemy и Jinja2.
                <br>Основная функция нашего сайта - вывод объявлений. Вы можете найти интересующие вас товары или
                услуги.
                Кроме того, вы также имеете возможность зарегистрироваться на сайте и создавать свои собственные
                объявления.
                <br>Одной из наших больших задач была разработка скрапера сайта Авито. Для учебного проекта мы выбрали
                раздел с Iphone
                в г.Москва. Скрипт скрапера использует библиотеку Selenium для автоматизации процесса парсинга.
                Это позволяет нам получать актуальную информацию о предлагаемых товарах и
                обеспечивать лучший сервис для наших пользователей.
                <br>
                <b>Мы постоянно работаем над улучшением функционала и добавлением новых возможностей нашего сайта,
                    чтобы обеспечить вам лучший опыт использования. Спасибо, что выбрали нас!</b>
            </p>
        </div>
        <a href="https://github.com/hodakoov/advertising_site"
           style="text-decoration: none; color: dodgerblue;">
            <img src="{{ url_for('static', filename='img/github.png') }}"
                 width="30" height="30" role="img" aria-label="Bootstrap"> Код проекта</a>
    </div>
{% endblock %}