{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}

    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in pagination.items %}
                <div class="col">
                    <div class="card h-100 ">
                        <img style="height: 285px; object-fit: contain" class="card-img-top"
                             src="{{ post.image_url }}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h5 class="card">Цена {{ post.price }}р.</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <p class="card-cap">{{ post.address }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">Объявление №{{ post.ad_id }}
                                от {{ post.ad_datetime.strftime('%d-%m-%Y %H:%M') }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="Навигация по страницам" style="margin:20px auto 50px">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link {% if not pagination.has_prev %} disabled {% endif %}"
                       href="{% if pagination.has_prev %}
                        {{ url_for('index.index', page=pagination.prev_num) }}
                        {% else %}{% endif %}">Предыдущая
                    </a>
                </li>

                {% for number in pagination.iter_pages() %}
                    {% if number %}
                        {% if pagination.page != number %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('index.index', page=number) }}">
                                    {{ number }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item active">
                                <a class="page-link ">
                                    {{ number }}
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                         <li class="page-item">
                                <a class="page-link ">...</a>
                         </li>
                    {% endif %}
                {% endfor %}

                <li class="page-item">
                    <a class="page-link {% if not pagination.has_next %} disabled {% endif %}"
                       href="{% if pagination.has_next %}
                        {{ url_for('index.index', page=pagination.next_num) }}
                        {% else %}{% endif %}">Следующая
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

